---
import Layout from "../components/Layout.astro"
import CardHabilidades from "../components/CardHabilidades.astro"

const habilidades = [
    {   titulo:"HTML5",
        urlImagen: "./imagenes/html.svg",
        descripcion: "Tengo experiencia en la construcción de estructuras semánticas utilizando HTML5 para garantizar una base sólida y accesible para mis aplicaciones web."
    },
    {   titulo:"CSS",
        urlImagen: "./imagenes/css.svg",
        descripcion: "Soy capaz de crear estilos atractivos y responsivos utilizando CSS, aplicando selectores, propiedades y técnicas avanzadas para lograr diseños visualmente agradables y compatibles con múltiples dispositivos."
    },
    {   titulo:"React",
        urlImagen: "./imagenes/react.svg",
        descripcion: "He trabajado con React, un popular framework de JavaScript, para crear interfaces de usuario interactivas y dinámicas. Estoy familiarizado con los conceptos clave de React, como componentes, estado (state) y ciclo de vida (lifecycle), y he utilizado bibliotecas y herramientas complementarias para mejorar mi flujo de trabajo."
    },
    {   titulo:"Style_Components",
        urlImagen: "./imagenes/style-components.webp",
        descripcion: "Utilizo Style Components para crear componentes reutilizables y estilizados, lo que me permite mantener una estructura clara y modular en mis proyectos. Esto me permite mantener un control preciso sobre los estilos y aplicar lógica de diseño a nivel de componente."
    },
    {   titulo:"JavaScript",
        urlImagen: "./imagenes/javascript.svg",
        descripcion: "Tengo un buen conocimiento de JavaScript y he explorado TypeScript, que ofrece un tipado estático adicional para una programación más segura y mantenible."
    },
    {   titulo:"TypeScript",
        urlImagen: "./imagenes/typescript.svg",
        descripcion: "llllllll."
    },
    {   titulo:"Tailwind",
        urlImagen: "./imagenes/tailwind.svg",
        descripcion: "He utilizado Tailwind CSS para acelerar mi proceso de desarrollo y mantener un estilo consistente en mis proyectos. Aprovecho su amplia colección de clases utilitarias para diseñar interfaces de usuario eficientes y personalizables."
    },
    {   titulo:"Astro",
        urlImagen: "./imagenes/astro.svg",
        descripcion: "He experimentado con Astro para construir sitios web estáticos y aplicaciones web utilizando componentes reutilizables y tecnologías como React, Vue y Svelte. Me ha permitido crear proyectos más rápidos y eficientes."
    },
    {   titulo:"POO",
        urlImagen: "./imagenes/poo.svg",
        descripcion: "Tengo conocimientos de POO y aplico los principios de encapsulamiento, herencia y polimorfismo en mis proyectos para mantener un código modular, reutilizable y fácilmente mantenible."
    },
]

---

<Layout style="">
    <section class="grid grid-cols-6">
    
        <div class="col-span-2 text-center p-10">
        
            <img 
            class="mx-auto my-8 aspect-[460/460] h-auto w-auto object-cover rounded-full contrast-125 " 
            style={"view-transition-name: image"}
            src="./imagenes/perfil.webp" 
            alt="foto de perfil"
            >

            <div class="" style={"view-transition-name: titulo"}>
                
            <h2 class="font-bold pb-1 text-xl"
                
                >Experiencia</h2>
            <p>

                <strong>nota: hablar de exp en ti y contar sobre los 15 proyectos que tengo en github</strong> <br> <br>

                Aunque aún no tengo experiencia profesional, he dedicado tiempo y esfuerzo a desarrollar proyectos personales con estas tecnologías. Estoy entusiasmado por seguir aprendiendo y creciendo como desarrollador <b>front-end</b>, y estoy abierto a nuevas oportunidades para aplicar mis habilidades y conocimientos en un entorno profesional.<br>
    
                <br>Si estás buscando a alguien con sólidos conocimientos en <strong> HTML5, CSS, React, Style Components, JavaScript, TypeScript, Tailwind, Astro y POO,</strong> estoy dispuesto a enfrentar nuevos desafíos y contribuir al éxito de tu equipo.
                
                <br>No dudes en contactarme para discutir oportunidades de colaboración o proyectos emocionantes. Estoy emocionado por el futuro y por seguir aprendiendo en el campo del desarrollo <b>front-end</b>.</p>
            </div>
        </div>
        <div class="col-span-4 mx-5 py-14 ">
            <ul>
                <!-- <h1 class="font-bold text-3xl my-8 mx-auto text-center">Habilidades y conocimientos</h1> -->
                {
                    habilidades.map((habilidad) => (
                        <CardHabilidades
                        titulo={habilidad.titulo}
                        url={habilidad.urlImagen}
                        descripcion={habilidad.descripcion}
                        />
                    ))
                }
            </ul>
        </div>
    </section>
</Layout>