---
import Layout from "../components/Layout.astro";

const habilidades = [
    {   titulo:"HTML5",
        urlImagen: "./imagenes/html.svg",
        descripcion: "Tengo experiencia en la construcción de estructuras semánticas utilizando HTML5 para garantizar una base sólida y accesible para mis aplicaciones web."
    },
    {   titulo:"CSS",
        urlImagen: "./imagenes/css.svg",
        descripcion: "Soy capaz de crear estilos atractivos y responsivos utilizando CSS, aplicando selectores, propiedades y técnicas avanzadas para lograr diseños visualmente agradables y compatibles con múltiples dispositivos."
    },
    {   titulo:"React",
        urlImagen: "./imagenes/react.svg",
        descripcion: "He trabajado con React, un popular framework de JavaScript, para crear interfaces de usuario interactivas y dinámicas. Estoy familiarizado con los conceptos clave de React, como componentes, estado (state) y ciclo de vida (lifecycle), y he utilizado bibliotecas y herramientas complementarias para mejorar mi flujo de trabajo."
    },
    {   titulo:"Style_Components",
        urlImagen: "./imagenes/style-components.webp",
        descripcion: "Utilizo Style Components para crear componentes reutilizables y estilizados, lo que me permite mantener una estructura clara y modular en mis proyectos. Esto me permite mantener un control preciso sobre los estilos y aplicar lógica de diseño a nivel de componente."
    },
    {   titulo:"JavaScript",
        urlImagen: "./imagenes/javascript.svg",
        descripcion: "Tengo un buen conocimiento de JavaScript y he explorado TypeScript, que ofrece un tipado estático adicional para una programación más segura y mantenible."
    },
    {   titulo:"TypeScript",
        urlImagen: "./imagenes/typescript.svg",
        descripcion: "llllllll."
    },
    {   titulo:"Tailwind",
        urlImagen: "./imagenes/tailwind.svg",
        descripcion: "He utilizado Tailwind CSS para acelerar mi proceso de desarrollo y mantener un estilo consistente en mis proyectos. Aprovecho su amplia colección de clases utilitarias para diseñar interfaces de usuario eficientes y personalizables."
    },
    {   titulo:"Astro",
        urlImagen: "./imagenes/astro.svg",
        descripcion: "He experimentado con Astro para construir sitios web estáticos y aplicaciones web utilizando componentes reutilizables y tecnologías como React, Vue y Svelte. Me ha permitido crear proyectos más rápidos y eficientes."
    },
    {   titulo:"POO",
        urlImagen: "./imagenes/poo.svg",
        descripcion: "Tengo conocimientos de POO y aplico los principios de encapsulamiento, herencia y polimorfismo en mis proyectos para mantener un código modular, reutilizable y fácilmente mantenible."
    },
]
---
<Layout style="">
    <section class=" text-center text-base h-auto w-full md:text-xl ">
        <div class="lg:grid lg:grid-cols-6 items-center md:text-center md:p-8 lg:text-start lg:p-28 mx-auto">
            <a class=" hover:scale-105 inline-block transition-all hover:contrast-125 hover:shadow-2xl rounded-full mx-auto" href="/habilidades">
                <img 
                class=" w-40 h-40 md:w-[280px] md:h-[280px] lg:min-w-[280px] lg:min-h-[280px]  md:mx-auto lg:col-span-1 aspect-[460/460]  object-cover rounded-full" 
                style={"view-transition-name: image"}
                src="./imagenes/perfil.webp" 
                alt="foto de perfil"
                >
            </a>
            <div class="pb-10 p-4 md:p-0 md:w-auto mx-auto lg:col-span-5 lg:ml-8"
            >
                <h1 class="font-bold md:py-3 lg:pb-10 md:text-2xl lg:text-3xl" style={"view-transition-name: titulo"}>Soy Andres Prado<p class=" mb-4 lg:text-xl font-semibold">Programador Junior Especializado en Front end</p></h1>

                
                <p class="lg:text-start">Soy un apasionado desarrollador front-end con una sólida base de conocimientos que me ayudan a asumir retos y ponerme nuevas metas. He trabajado en diversos proyectos personales y de código abierto, donde he aplicado con éxito las siguientes tecnologías: <strong> HTML5, CSS, React, Style Components, JavaScript, TypeScript, Tailwind, Astro</strong> y Programación Orientada a Objetos <strong>(POO).</strong> Estas experiencias me han permitido adquirir un amplio conocimiento y habilidades prácticas en el desarrollo de interfaces de usuario modernas y funcionales. Estoy siempre emocionado por aprender nuevas tecnologías y enfrentar nuevos desafíos en el campo del desarrollo front-end. Estoy dispuesto a aplicar mi experiencia y conocimientos para contribuir al éxito de tu equipo y enfrentar proyectos emocionantes.
                </p>
            </div>
        </div>

        <div class=" mb-32 p-5 grid grid-cols-5 gap-4  lg:flex lg:justify-end lg:mb-64 lg:px-28">
            {
                habilidades.map((elemento) => <img class=" mx-auto w-10 h-10 md:w-14 md:h-14 lg:mx-11 " style={`view-transition-name: ${elemento.titulo}`} src={elemento.urlImagen} alt={elemento.titulo} >)
            }
        </div>
    </section>
</Layout>