---
import Layout from "../components/Layout.astro";
import CardExperiencia from "../components/CardExperiencia.astro";
import CardProyectos from "../components/CardProyectos.astro";



---


<Layout style="">
    <section class="w-auto h-auto text-xl text-center lg:text-start mx-5 md:mx-10 lg:grid lg:grid-cols-8 lg:mx-28 lg:pt-20 pb-20">          
        <div class="lg:col-span-2 lg:sticky top-0 lg:flex lg:max-h-screen flex-col"  style={"view-transition-name: titulo"}> 
            
            <div class="lg:col-span-2 lg:sticky top-0 flex max-h-screen flex-col justify-between py-10">
                <div>
                    <h1 class="text-3xl lg:text-5xl font-bold tracking-tight" style={"view-transition-name: proyectoChiste"}>Andres Prado</h1>
                <p class="my-4 font-semibold">Estos son mis proyectos desplegados, para ver los demas visita
                    <a class="font-bold  hover:text-blue-600" href="https://github.com/dakan2525?tab=repositories">Dakan2525</a>
                </p>
    
                <ul class="w-full transition-all mt-10 text-xl font-semibold">

                    <li class="flex justify-start ml-2 my-2">
                        <a id="btnEstudios" class="group flex mx-3 justify-start" href="#estudios">
                            <span class=" w-[10px] rounded-full mr-2 h-1 my-auto bg-gray-400  group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class="col-span-1 h-7 self-start my-auto  ">
                                Estudios
                            </span>
                        </a>
                    </li>
                    <li class="flex justify-start ml-2">
                        <a id="btnLaboral" class="group flex mx-3 justify-start" href="#laboral">
                            <span class=" w-[10px] rounded-xl mr-2 h-1 my-auto bg-gray-400   group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class=" col-span-1 h-7 self-start my-auto ">
                                Experiencia Laborar
                            </span>
                        </a>
                    </li>
                    <li class="flex justify-start ml-2 my-2">
                        <a id="btnProyectos" class="group flex mx-3 justify-start" href="#proyectos">
                            <span class=" w-[10px] rounded-xl mr-2 h-1 my-auto bg-gray-400   group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class=" col-span-1 h-7 self-start my-auto ">
                                Proyectos
                            </span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>

        <div class="lg:col-span-6 grid place-items-center lg:mx-20 lg:mt-10 cursor-all-scroll" style={"view-transition-name: contenido"}>

            <div id="estudios" class="text-base mb-16 scroll-mt-16 md:my-24 md:text-xl lg:mb-36 lg:scroll-mt-24" aria-label="Selected estudios">
                
                <p>Estudié en <b>Alura LATAM</b> donde obtuve mi título de <b>Programador Front-end</b>. Durante mis estudios, adquirí habilidades en <b>HTML5, CSS, React, Style Components, JavaScript, TypeScript, Tailwind, Astro, Git y Scrum</b>. Además, he trabajado en diversos proyectos personales donde he aplicado mis conocimientos y he participado en proyectos en equipo donde trabaje con compañeros de otros países.
                </p><br>

                <p>
                    También estudié en el <b>SENA</b> donde recibí el título de <b>Técnico en Sistemas</b>, el cual fue mi pase al mundo de la tecnología y me ayudo a conseguir mis primeros trabajos en empresas de tecnología como <b>Carvajal T&S y Codesa del grupo SuperGIROS</b>, en estas empresas fue fundamental mi gestión autodidacta para seguir teniendo conocimientos vigentes
                </p><br>
                
                <a href="https://download843.mediafire.com/pce4ryzfqbvgPePGLQrBKhcCrV-7Ve4tNIMf27iDxZambgi86aD3wU2zJUvFZDOVbNMBY_6U3Vsvk7AzIqCbpxNBJbqcFipr9QaAnSuWATS8-2LOqBWTDInDf42JRIavHHKqeaQ0nDiM-LaWhp6np6t_wNVQ_EnkyDPjeSdy-aY8-JY/u8bb8m7dupp4cv7/Estudios.rar" class="my-10 bg-blue-700 hover:bg-blue-800 text-white font-bold p-2 rounded-full">
                    Descargar Diplomas
                </a>
                
            </div>

            <div id="laboral" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Selected laboral">
                <ul class="group/list">
                    <CardExperiencia
                    fecha="MAY 2018 — AGO 2022"
                    titulo="Carvajal T&S"
                    urlPrincipal="https://carvajaldigital.co/" 
                    logo="./imagenes/logo-carvajal-tecnologia.webp"
                    dimenciones="w-[280px] h-[91px] md:w-[344px] md:h-[144px]  lg:w-[344px] lg:h-[112px]"
                    puesto="Técnico en configuraciones - Ingeniero de implementación"
                    descripcion="Competencias y habilidades laborales adquiridad en el puesto, manejo de bases de datos relacionales, conocimientos, metodologías ágiles (SCRUM) pruebas unitarias e historias de usuario, manejo de certificaciones (ISO 27001 e ISO 9001), atención y manejo de clientes, trato Formal, comunicación asertiva, rápido aprendizaje, fácil adecuación a nuevos proyectos, enfocado al logro y con mucho sentido de pertenencia por la empresa, Soporte técnico en la implementación de documentos electrónicos como FECO, DOSO, Nomina electrónica, Radian y demás documentos EDI en Colombia, México, Argentina y Perú" 
                    nombreOpcional1="Focumentos financieros" 
                    urlOpcional1="https://carvajaldigital.co/documentos-financieros/"  
                    nombreOpcional2="Centro Electrónico de Negocios" 
                    urlOpcional2="https://carvajaldigital.co/cen/"   
                    etiquetas="Implementación, Soporte, Canales de comunicación, Bases de datos, Pruebas unitarias, Atención a cliente "
                    />
                    <CardExperiencia
                    fecha="SEP 2022 —  MAR 2023"
                    titulo="Codesa grupo SuperGIROS"
                    urlPrincipal="https://www.codesa.com.co/" 
                    logo="./imagenes/codesa.webp"
                    dimenciones="w-[165px] h-[165px] md:w-[250px] md:h-[170px]  lg:w-[250px] lg:h-[250px]"
                    puesto="Agente Servicio Experto - Ingeniero de implementación"
                    descripcion="Implementación y despliegue continuo de actualizaciones descentralizadas, atención de cliente por tiques en jira software. Documentación de errores y notas de cada despliegue, cumplimiento de las ISO 27001 y 9001" 
                    nombreOpcional1="Soluciones Codesa" 
                    urlOpcional1="https://www.codesa.com.co/soluciones/"  
                    nombreOpcional2="Innovacion" 
                    urlOpcional2="https://www.codesa.com.co/innovacion/"   
                    etiquetas="Implementación, Soporte, Bases de datos, Monitoreo de servicio, Atención a cliente" 
                    />
                </ul>
            </div>

            <div id="proyectos" class="mb-8 scroll-mt-16 md:mb-16 lg:mb-36 lg:scroll-mt-24" aria-label="Selected projects">
                <ul class="group/list">

                    <CardProyectos
                    titulo="Tienda Online"
                    urlPrincipal="https://tienda-online-react-tailwind-js.vercel.app/" 
                    imgPreview="./imagenes/tienda_online.webp" 
                    descripcion="Este es un proyecto tiene un diseño enfocado en la experiencia móvil, cuenta con diseño responsibo y basado en componentes, evitando la duplicidad de codigo y mejorando el soporte a largo plazo. en este proyecto se implemento Tailwind una alternativa a CSS que permite tener los estilos directamente en los componentes Nota: algunos botones no se encuentran funcionales para conocer el alcane pede consultar el siguiente archivo"
                    nombreDescarga="Documentacion" 
                    urlDescarga="https://download1514.mediafire.com/7z60djw0bofgDxTKZ4nInJ2KiQwT4rXLr5uAQ5EkUSzSzDzu5Z6NSUZqEY4w8mmVqI4BNIE0uitHIeWYGluU2vKzAYiO0Nu5W1AtEAe3Ho2w_2nzffnqgY_USH92wQDvYJPWEoWQDSogd7Mmpo005QErslSCZw4UMDc3nUiwiPpxnh8/3d3vgk57ydmlw0s/store-react-js.txt"    
                    etiquetas="Vite,Tailwind,JavaScript,React,JSX,POO"
                    />
                    <CardProyectos
                    titulo="Formulario CRUD"
                    urlPrincipal="https://org-formulario-jsx.vercel.app/" 
                    imgPreview="./imagenes/CRUD_equipos.webp" 
                    descripcion="Se trata de un CRUD de que simula la necesidad de representar graficamente los trabajadores de cada equipo, su enfoque mas que estetico es para aplicar los conocimientos de capturar informacion y crear componetes con ella. asi mismo poder eliminarlos y usando un arreglo de objetos simulamos la respuesta de una API para crear cada empleado de mane automatica" 
                    nombreDescarga="Documentacion" 
                    urlDescarga="https://download848.mediafire.com/w355k0e7mzqghtMI0OjrHWepOoDcet2XOib0i8xPaqGznH-wpN3_JaPNje9dz3Q1Ziw9WwZE-otYEaP8aEt2WSdsOY7KfsUkFcNLgz7MKTWdTcZKd_b19g0MhchZIHOHcX1QglNxp1M4HBpSSQPZcvIl3iWOx7MaKTsk1X87lquCk7I/eyyxnx8dph0g99l/formulario_CRUD.txt"   
                    etiquetas="React,CSS,JS,JSX"
                    />
                    <CardProyectos
                    titulo="Portafolio"
                    urlPrincipal="https://portafolio-astro-tailwind-ts.vercel.app/" 
                    imgPreview="./imagenes/portafolio_AFPV.webp" 
                    descripcion="Este portafolio se desarrolló en Astro, lo que hace que sea mucho más rápido su tiempo de respuesta, todas las imágenes están en formato WebP y alguna se encuentran comprimidas, el usó de estas tecnologías y buenas prácticas dan como resultado una página que pasa todos los test de PageSpeed Insights en 100, si deseas ver el resultado puedes darle click en el botón que se encuentra en la parte superior izquierda podrás mirar el rendimiento de la web, adicional a esto se adjunta la documentación para que pueda ver las tecnologías y demás apuntes" 
                    nombreDescarga="Documentacion" 
                    urlDescarga="https://download856.mediafire.com/3aq8mttd80xgUujVChex3dwMc7l6GdBulA6UIgqv-hULe7fTQLs0E-eub5lybGRdqCL3T2oaPszjGGy8qvKlFR-RQieq9UoXKRAxyYGqkOmQTPsrcsmwSEh8v96dPTJeiPjB16GwPxKkZhwJ0bPvU7-ffP4hMfq_nYbPQxx5SSnlmKg/m2vttex69r75enx/portafolio-astro-tailwind-ts.txt"   
                    etiquetas="Astro,Tailwind,JavaScript,TypeScript,Componentes,JSX"
                    />
                    
            </div>

        </div>
    </section>
</Layout>

