---
import Layout from "../components/Layout.astro";
import CardExperiencia from "../components/CardExperiencia.astro";
import CardProyectos from "../components/CardProyectos.astro";



---


<Layout style="">
    <section class="w-auto h-auto text-xl text-center lg:text-start mx-5 md:mx-10 lg:grid lg:grid-cols-8 lg:mx-28 lg:pt-20 pb-20">          
        <div class="lg:col-span-3 lg:sticky top-0 lg:flex lg:max-h-screen flex-col"  style={"view-transition-name: titulo"}> 
            
            <div class="lg:col-span-2 lg:sticky top-0 flex max-h-screen flex-col justify-between py-10">
                <div>
                    <h1 class="text-3xl lg:text-5xl font-bold tracking-tight" style={"view-transition-name: proyectoChiste"}>Andres Prado</h1>
                <p class="my-4 font-semibold">Estos son mis proyectos desplegados, para ver los demas visita
                    <a class="font-bold  hover:text-blue-600" href="https://github.com/dakan2525?tab=repositories">Dakan2525</a>
                </p>
    
                <ul class="w-full transition-all mt-10 text-xl font-semibold">

                    <li class="flex justify-start ml-2 my-2">
                        <a id="btnEstudios" class="group flex mx-3 justify-start" href="#estudios">
                            <span class=" w-[10px] rounded-full mr-2 h-1 my-auto bg-gray-400  group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class="col-span-1 h-7 self-start my-auto  ">
                                Estudios
                            </span>
                        </a>
                    </li>
                    <li class="flex justify-start ml-2">
                        <a id="btnLaboral" class="group flex mx-3 justify-start" href="#laboral">
                            <span class=" w-[10px] rounded-xl mr-2 h-1 my-auto bg-gray-400   group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class=" col-span-1 h-7 self-start my-auto ">
                                Experiencia Laborar
                            </span>
                        </a>
                    </li>
                    <li class="flex justify-start ml-2 my-2">
                        <a id="btnProyectos" class="group flex mx-3 justify-start" href="#proyectos">
                            <span class=" w-[10px] rounded-xl mr-2 h-1 my-auto bg-gray-400   group-hover:w-[40px]  duration-300 ">
                            </span>
                            <span class=" col-span-1 h-7 self-start my-auto ">
                                Proyectos
                            </span>
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>

        <div class="lg:col-span-5 grid place-items-center lg:mx-20 lg:mt-10 cursor-all-scroll" style={"view-transition-name: contenido"}>

            <div id="estudios" class="text-base mb-16 scroll-mt-16 md:my-24 md:text-xl lg:mb-36 lg:scroll-mt-24" aria-label="Selected estudios">
                
                <p>Estudié en <b>Alura LATAM</b> donde obtuve mi título de <b>Programador Front-end</b>. Durante mis estudios, adquirí habilidades en <b>HTML5, CSS, React, Style Components, JavaScript, TypeScript, Tailwind, Astro, Git y Scrum</b>. Además, he trabajado en diversos proyectos personales donde he aplicado mis conocimientos y he participado en proyectos en equipo donde trabaje con compañeros de otros países.
                </p><br>

                <p>
                    También estudié en el <b>SENA</b> donde recibí el título de <b>Técnico en Sistemas</b>, el cual fue mi pase al mundo de la tecnología y me ayudo a conseguir mis primeros trabajos en empresas de tecnología como <b>Carvajal T&S y Codesa del grupo SuperGIROS</b>, en estas empresas fue fundamental mi gestión autodidacta para seguir teniendo conocimientos vigentes
                </p><br>
                
                <a href="https://www.mediafire.com/folder/s4rqmii9suq9z/Certificados+de+Estudios" class="my-10 bg-blue-500 hover:bg-blue-700 text-white font-bold p-2 rounded-full">
                    Descargar Diplomas
                </a>
                
            </div>

            <div id="laboral" class="mb-16 scroll-mt-16 md:mb-24 lg:mb-36 lg:scroll-mt-24" aria-label="Selected laboral">
                <ul class="group/list">
                    <CardExperiencia
                    fecha="ENR — MAR 1996"
                    titulo="Carvajal T&S"
                    urlPrincipal="https://carvajaldigital.co/" 
                    logo="./imagenes/logo-carvajal-tecnologia.webp"
                    descripcion="Developed and styled interactive web apps for Apple Music, including the UI of Apple Music’s embeddable web player widget for in-browser user authorization and full song playback" 
                    nombreOpcional1="Focumentos financieros" 
                    urlOpcional1="https://carvajaldigital.co/documentos-financieros/"  
                    nombreOpcional2="Centro Electrónico de Negocios" 
                    urlOpcional2="https://carvajaldigital.co/cen/"   
                    etiquetas="Ember,Ember,Ember,MusicKit.js"
                    />
                    <CardExperiencia
                    fecha="ENR — MAR 1996"
                    titulo="Carvajal T&S"
                    urlPrincipal="https://carvajaldigital.co/" 
                    logo="./imagenes/logo-carvajal-tecnologia.webp"
                    descripcion="Developed and styled interactive web apps for Apple Music, including the UI of Apple Music’s embeddable web player widget for in-browser user authorization and full song playback" 
                    nombreOpcional1="Focumentos financieros" 
                    urlOpcional1="https://carvajaldigital.co/documentos-financieros/"  
                    nombreOpcional2="Centro Electrónico de Negocios" 
                    urlOpcional2="https://carvajaldigital.co/cen/"   
                    etiquetas="Ember,Ember,Ember,MusicKit.js" 
                    />
                    <CardExperiencia
                    fecha="ENR — MAR 1996"
                    titulo="Carvajal T&S"
                    urlPrincipal="https://carvajaldigital.co/" 
                    logo="./imagenes/logo-carvajal-tecnologia.webp"
                    descripcion="Developed and styled interactive web apps for Apple Music, including the UI of Apple Music’s embeddable web player widget for in-browser user authorization and full song playback" 
                    nombreOpcional1="Focumentos financieros" 
                    urlOpcional1="https://carvajaldigital.co/documentos-financieros/"  
                    nombreOpcional2="Centro Electrónico de Negocios" 
                    urlOpcional2="https://carvajaldigital.co/cen/"   
                    etiquetas="Ember,Ember,Ember,MusicKit.js" 
                    />
                </ul>
            </div>

            <div id="proyectos" class="mb-8 scroll-mt-16 md:mb-16 lg:mb-36 lg:scroll-mt-24" aria-label="Selected projects">
                <ul class="group/list">

                    <CardProyectos
                    titulo="Tienda Online"
                    urlPrincipal="https://tienda-online-react-tailwind-js.vercel.app/" 
                    imgPreview="./imagenes/tienda_online.webp" 
                    descripcion="Web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more" 
                    etiquetas="React,Tailwind,JS"
                    />
                    <CardProyectos
                    titulo="Formulario CRUD"
                    urlPrincipal="https://org-formulario-jsx.vercel.app/" 
                    imgPreview="./imagenes/CRUD_equipos.webp" 
                    descripcion="Web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more" 
                    etiquetas="React,CSS,JS"
                    />
                    <CardProyectos
                    titulo="Tienda Online"
                    urlPrincipal="https://tienda-online-react-tailwind-js.vercel.app/" 
                    imgPreview="./imagenes/tienda_online.webp" 
                    descripcion="Web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more" 
                    etiquetas="React,Tailwind,JS"
                    />
                    <CardProyectos
                    titulo="Formulario CRUD"
                    urlPrincipal="https://org-formulario-jsx.vercel.app/" 
                    imgPreview="./imagenes/CRUD_equipos.webp" 
                    descripcion="Web app for visualizing personalized Spotify data. View your top artists, top tracks, recently played tracks, and detailed audio information about each track. Create and save new playlists of recommended tracks based on your existing playlists and more" 
                    etiquetas="React,CSS,JS"
                    />
            </div>

        </div>
    </section>
</Layout>

