---
import Footer from './Footer.astro'
import Header from './Header.astro'

interface Props {
    style: string
}
const {style} = Astro.props
---

<!DOCTYPE html>
<html lang="es">
<head class="hidden">
    <meta charset="UTF-8">
    <meta name="descripcion" content="Portafolio Andres Prado">
    <link rel="icon" type="image" href="./imagenes/books-removebg-preview.webp">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viwe-transition" content="same-origin">
    <title>Portafolio Andres Prado</title> 
</head>

    <body id="content" class={`bg-gray-200 dark:bg-[#19202b] text-[#252323] dark:text-gray-200  ${style}`}>
    
        
        <main>
            <Header/>
                <slot/>
            <Footer/>    
        </main>
        

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.js"></script>
    <script src="./navigation.js"></script>
    </body>


</html>