---
interface Props {
    etiqueta:string
}

const {etiqueta} =Astro.props
---

<li class="mr-1.5 mt-2">
    <div class="flex items-center lg:items-start rounded-full bg-gray-600 px-3 py-1 text-xs md:text-xl md:mt-2 font-bold leading-5 group-hover:bg-[#3b9545]">
        {etiqueta}
    </div>
</li>